.button_submit {
    height: 3.125rem;
    border-radius: 0.3125rem;
    margin-top: 0.625rem;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: capitalize;
    color: white;
    box-shadow: 0.125rem 0.125rem 0.3125rem var(--shadow-color);
    background: var(--gradient-btn-color);
    cursor: pointer;
} 

.button_submit:hover {
    background: var(--gradient-btn-color-hover);
}