@keyframes pulse-card-loader {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}

.home_container {
  --card-h: 17.5rem;
  --card-w: 15.5rem;
  --max-img-h: calc(var(--card-h) * 50 / 100);
  --load-max-info-h: calc(var(--card-h) * 30 / 100);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.products_category_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-w));
  place-items: center;
  max-width: 100%;
  width: max-content;
  margin-inline: auto;
  gap: 1rem;
  padding-top: 2.5rem;
}

.products_category_loader_container,
.products_category_all_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .carousel_container {
    z-index: 10;
    width: 100%;
  }
}

.product_title {
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: capitalize;
}

.product_loader_title {
  background-color: var(--zinc-50);
  color: var(--zinc-50);
  width: fit-content;
  animation-name: pulse-card-loader;
  animation-duration: 1000ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.loader_card {
  height: var(--card-h);
  width: var(--card-w);
  padding: 1rem;
  margin-inline: auto;
  background-color: var(--zinc-50);
  animation-name: pulse-card-loader;
  animation-duration: 1000ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--zinc-100);
    opacity: 0.6;
    z-index: 10;
  }

  &::after {
    width: var(--max-img-h);
    height: var(--max-img-h);
    top: 1rem;
  }

  &::before {
    height: var(--load-max-info-h);
    width: calc(100% - 2rem);
    margin-inline: auto;
    bottom: 1rem;
  }
}

@media (width < 549px) {
  .home_container {
    --card-h: 14.5rem;
    --card-w: 11rem;
  }

  .loader_card {
    padding-inline: 0.5rem;
  }
}
