@keyframes pulse-card-loader {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}

.home_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home__products_category_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  padding-top: 2.5rem;

  .home__product_category__loader_card {
    height: 17.6875rem;
    width: 15.5rem;
    padding: 2rem 1rem;
    background-color: var(--zinc-100);
    animation-name: pulse-card-loader;
    animation-duration: 1000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--zinc-300);
      z-index: 10;
    }

    &::after {
      width: 7.625rem;
      height: 7.625rem;
      top: 2rem;
    }

    &::before {
      height: 4.5rem;
      width: calc(100% - 2rem);
      margin-inline: auto;
      bottom: 2rem;
    }
  }
}

@media (width < 1024px) {
  .home__products_category_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 669px) {
  .home__products_category_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.home__products_main_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .home__products__category_title {
    font-size: 1.25rem;
    font-weight: 800;
    text-transform: capitalize;
  }

  .home__carousel_container {
    z-index: 10;
    width: 100%;
  }

  .home__products__loader_category_title {
    background-color: var(--zinc-100);
    color: var(--zinc-100);
    width: fit-content;
    animation-name: pulse-card-loader;
    animation-duration: 1000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  .home__products__loader_card {
    height: 17.6875rem;
    width: 15.5rem;
    padding: 2rem 1rem;
    background-color: var(--zinc-100);
    animation-name: pulse-card-loader;
    animation-duration: 1000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--zinc-300);
      z-index: 10;
    }

    &::after {
      width: 7.625rem;
      height: 7.625rem;
      top: 2rem;
    }

    &::before {
      height: 4.5rem;
      width: calc(100% - 2rem);
      margin-inline: auto;
      bottom: 2rem;
    }
  }
}
