.newspaper_container {
    grid-row: 2;
    display: flex;
    max-width: 100vw;
    background-color: var(--bg-color);
    overflow: hidden;
}

.newspaper_container div {
    flex-grow: 1;
    min-height: 100%;
    width: max-content;
}

.newspaper_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 750px) {
    .newspaper_container div:nth-child(2) {
        display: none;
    }
}
