@keyframes pulse-card-loader {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}

.delivery_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.delivery_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  width: 100%;
  gap: 1rem;
}

.loader_card {
  height: 16.5rem;
  width: 14.5rem;
  padding: 2rem 1rem;
  margin-inline: auto;
  background-color: var(--zinc-100);
  animation-name: pulse-card-loader;
  animation-duration: 1000ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--zinc-300);
    opacity: 0.6;
    z-index: 10;
  }

  &::after {
    width: 7.625rem;
    height: 7.625rem;
    top: 2rem;
  }

  &::before {
    height: 4.5rem;
    width: calc(100% - 2rem);
    margin-inline: auto;
    bottom: 2rem;
  }
}

.cards_item {
  display: flex;
  flex-direction: column;
  background-color: var(--zinc-50);
  width: 14.5rem;
  height: 16.5rem;
  row-gap: 0.5rem;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;

  img {
    max-width: 7.625rem;
    max-height: 7.625rem;
    width: auto;
    height: 100%;
    object-fit: contain;
    margin-inline: auto;
    position: relative;

    &::before {
      content: '';
      width: 7.625rem;
      height: 7.625rem;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }

  h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .delivery_info {
    color: var(--primary-color);
    font-weight: bold;
  }
}

@media (width < 1024px) {
  .delivery_cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 669px) {
  .delivery_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 549px) {
  .cards_item {
    width: 10.5rem;
    height: 12.5rem;
    padding: 1rem 0.5rem;
    padding-top: 2rem;

    img {
      max-width: 5.625rem;
      max-height: 5.625rem;

      &::before {
        width: 5.625rem;
        height: 5.625rem;
      }
    }
  }

  .loader_card {
    width: 10.5rem;
    height: 12.5rem;
    padding: 1rem 0.5rem;

    &::after {
      width: 5.625rem;
      height: 5.625rem;
      top: 1rem;
    }

    &::before {
      height: 3rem;
      width: calc(100% - 2rem);
      bottom: 2rem;
    }
  }
}
