@keyframes pulse-card-loader {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}

.delivery_container {
  --card-h: 15.5rem;
  --card-w: 14.5rem;
  --max-img-h: calc(var(--card-h) * 50 / 100);
  --load-max-info-h: calc(var(--card-h) * 30 / 100);

  display: flex;
  flex-direction: column;
  width: 100%;
}

.delivery_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-w));
  place-items: center;
  max-width: 100%;
  width: max-content;
  margin-inline: auto;
  gap: 1rem;
}

.loader_card {
  height: var(--card-h);
  width: var(--card-w);
  padding: 1rem;
  margin-inline: auto;
  background-color: var(--zinc-100);
  animation-name: pulse-card-loader;
  animation-duration: 1000ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--zinc-300);
    opacity: 0.6;
    z-index: 10;
  }

  &::after {
    width: var(--max-img-h);
    height: var(--max-img-h);
    top: 1rem;
  }

  &::before {
    height: var(--load-max-info-h);
    width: calc(100% - 2rem);
    margin-inline: auto;
    bottom: 1rem;
  }
}

.cards_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--zinc-50);
  border: 1px solid var(--zinc-100);
  border-radius: 8px;
  height: var(--card-h);
  width: var(--card-w);
  gap: 0.5rem;
  padding: 1rem;
  position: relative;

  img {
    max-height: var(--max-img-h);
    width: auto;
    height: 100%;
    object-fit: contain;
    margin-inline: auto;
    position: relative;
  }

  h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .delivery_info {
    color: var(--primary-color);
    font-weight: bold;
  }
}

@media (width < 549px) {
  .delivery_container {
    --card-h: 12.5rem;
    --card-w: 11rem;
    --max-img-h: calc(var(--card-h) * 45 / 100);
  }

  .loader_card,
  .cards_item {
    padding-inline: 0.5rem;
  }
}
