:root {
    --color-gray-border: rgb(122, 123, 123);
    --color-shadow-container: rgba(0, 0, 0, 0.418);
}

.userProfile {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: min-content auto;
    gap: 100px;
}

.userProfile>.favorite {
    grid-column: 1/3;
    grid-row: 2/5;
}

.userProfile>.productEnvoy {
    grid-column: 2;
    grid-row: 1;
}

.userProfile>ul {
    width: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 25px;
    grid-column: 1;
    grid-row: 1;
}

.userProfile>ul>.user-infor {
    color: rgb(185, 185, 185);
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: normal;
    grid-column: 2;
}

.userProfile>ul>.user-infor>strong {
    color: white;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: bolder;
    letter-spacing: 1px;
}

.userProfile>ul>.user-infor>strong>svg {
    color: white;
    font-size: 1.2em;
    margin-bottom: -3px;
    margin-right: 2px;
}

.userProfile>ul>.icon-persona>svg {
    color: rgb(0, 173, 196);
    font-size: 16em;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1/3;
}

.profileSettings {
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 10;
}

.profileSettings>i>svg {
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

.profileSettings>ul {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.376);
    -webkit-user-select: none;
    user-select: none;
}

.profileSettings>ul:is(.hiddersetting) {
    display: none;
}

.profileSettings>ul>li:nth-child(1) {
    border-bottom: 1px solid gray;
}

.profileSettings>ul>li>button {
    padding: 15px;
    color: rgb(68, 68, 68);
    font-size: 1.1rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: all .4s;
}

.profileSettings>ul>li:hover>button {
    background-color: rgb(162, 162, 162);
}

.profileSettings>ul>li>button>svg {
    font-size: 1.3rem;
    margin-bottom: -3px;
    margin-right: 4px;
    color: rgb(0, 0, 0);
}