@media (max-width: 1024px) {
    .userProfile {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userProfile>ul {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 50px;
        row-gap: 0px;
        margin: 0 auto;
        width: 100%;
    }

    .userProfile>ul>.user-infor {
        grid-column: 2;
        align-self: flex-end;
    }

    .userProfile>ul>.icon-persona {
        grid-column: 1;
        grid-row: 1/5;
    }

    .userProfile>.productEnvoy {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .userProfile {
        gap: 50px;
    }

    .userProfile>ul {
        column-gap: 25px;
    }

    .userProfile>ul>.icon-persona {
        font-size: .6rem;
        height: max-content;
    }

    .userProfile>ul>.user-infor>strong {
        font-size: 1rem;
    }

    .userProfile>ul>.user-infor {
        font-size: .9rem;
    }
}

@media (max-width: 500px) {
    .userProfile {
        padding-top: 25px;
    }
    .userProfile>ul {
        display: flex;
        flex-direction: column;
        width: max-content;
        column-gap: 0px;
    }

    .userProfile>ul>.icon-persona {
        align-self: center;
        margin-bottom: 25px
    }

    .userProfile>ul>.user-infor {
        align-self: start;
    }

}