.confirm_buy_info_display {
    position: absolute;
    bottom: 1.5625rem;
    right: 1.5625rem;
    display: flex;
    width: calc(55% - 0.5rem);
    justify-content: space-between;
    align-items: center;
}

.info_buy {
    display: flex;
    flex-direction: column;
    color: var(--zinc-600);
    font-size: 1.5rem;
}

.info_buy strong {
    color: var(--primary-color);
    font-weight: bold;
    text-transform: capitalize;
}

.info_buy svg {
    font-size: 1.2rem;
    margin-right: 0.125rem;
}

.confirm_buy_info_display button {
    width: 12.5rem;
    height: 2.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--zinc-100);
    background: var(--primary-color);
    cursor: pointer;
}

.confirm_buy_info_display button:hover {
    background: var(--primary-color-hover);
}

@media (max-width: 1224px) {
    .confirm_buy_info_display {
        position: initial;
        justify-content: space-between;
        width: 100%;
        grid-row: 3;
        grid-column: 1/3;
    }
}

@media (max-width: 600px) {
    .info_buy {
        font-size: 1.2rem;
    }

    .info_buy svg {
        font-size: 1rem;
        margin-right: 0.125rem;
    }

    .confirm_buy_info_display button {
        width: 12.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .confirm_buy_info_display {
        flex-direction: column;
        align-items: start;
        row-gap: 1.5rem;
    }

    .confirm_buy_info_display button {
        width: 100%;
        height: 3.125rem;
        font-size: 1.1rem;
    }
}
