.btn_favorite {
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  width: min-content;
  height: min-content;
  margin-right: 1.25rem;

  svg {
    font-size: 2rem;
    cursor: pointer;
    color: gray;
    transition: 0.8s ease-in-out;
  }

  &:is(.product_favorite) svg {
    animation: favorite-click 1.5s ease-in-out;
    color: red;
  }
}

.product_selected.btn_favorite {
  font-size: 2rem;
  left: 0%;
  top: 0%;

  svg {
    font-size: 4rem;
  }
}

@media (max-width: 1124px) {
  .product_selected.btn_favorite {
    top: 7.5rem;
    left: 0%;
  }
}

@media (max-width: 780px) {
  .product_selected.btn_favorite {
    font-size: 1.5rem;
  }

  .user_profiler.btn_favorite {
    font-size: 1.6rem;
  }
}
