.btn_favorite {
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 2rem;
    transition: 0.8s ease-in-out;
    cursor: pointer;
  }
}

.btn_favorite[data-is-favorite='true'] svg {
  animation: favorite-click 1.5s ease-in-out;
  color: red;
}

.btn_favorite[data-is-favorite='false'] {
  color: var(--zinc-400);
}

.product_selected.btn_favorite {
  font-size: 2rem;
  top: 2rem;
  left: 0;

  svg {
    font-size: 4rem;
  }
}

@media (max-width: 1124px) {
  .product_selected.btn_favorite {
    left: 33%;
  }
}

@media (max-width: 780px) {
  .product_selected.btn_favorite {
    font-size: 1.5rem;
  }

  .user_profiler.btn_favorite {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .product_selected.btn_favorite {
    top: 0;
    left: 0%;
  }
}
