.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 3.5rem;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  transition: 0.8s ease-in-out;

  svg {
    font-size: 1.5rem;
  }
}

.btn[data-btn-type='default'] {
  color: var(--zinc-100);
  background: var(--primary-color);

  &:hover {
    background: var(--primary-color-hover);
  }

  &:disabled {
    background: var(--zinc-400);
    cursor: no-drop;
  }
}

.btn[data-btn-type='outline'] {
  color: var(--zinc-400);
  background: transparent;
  border: 1px solid var(--zinc-600);

  &:disabled {
    color: var(--zinc-100);
    border-color: transparent;
    background: var(--zinc-400);
    cursor: no-drop;
  }
}

.btn_form {
  padding-block: 1rem;
  padding-inline: 0;
  border-radius: 0.3125rem;
  margin-top: 0.625rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bolder;
}
