.login_container {
  color: var(--zinc-600);
  display: flex;
  flex-direction: column;
}

.form_container {
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 3.75rem;
  row-gap: 1.5rem;
}

.options_container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  div {
    display: flex;
    gap: 0.5rem;

    p {
      font-size: 0.75rem;
      font-weight: 500;
    }
  }
}

.forget_pass {
  color: gray;
  font-weight: bold;
  margin-top: 10px;
  width: max-content;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
