.user_profile_container {
    max-width: 90rem;
    margin: 0 auto;
    height: auto;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

@media (max-width: 1024px) {
    .user_profile_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .user_profile_container {
        gap: 0;
    }
}
