@media (max-width: 1224px) {
    .verificationbuy>.productsOfbuy {
        grid-column: 1/3;
        grid-row: 2;
    }

    .verificationbuy>.userDatas {
        grid-column: 1;
        grid-row: 1;
    }

    .verificationbuy>.formpay {
        grid-column: 2;
        grid-row: 1;
    }

    .verificationbuy>.formpay>ul>li {
        flex-grow: 1;
    }

    .verificationbuy>.confirmbuy {
        position: relative;
        right: 0;
        justify-content: space-between;
        width: 100%;
        grid-row: 3;
        grid-column: 1/3;
    }
}

@media (max-width: 993px) {
    .verificationbuy {
        display: flex;
        flex-direction: column;

    }

    .verificationbuy>.formpay>ul {
        max-width: 500px;
        margin: 0 auto;
    }

    .verificationbuy>.productsOfbuy>div {
        height: 100px;
    }

    .verificationbuy>.productsOfbuy>div:is(.heightContainerOne) {
        height: 210px;
    }

    .verificationbuy>.productsOfbuy>div:is(.heightContainerTwo) {
        height: 420px;
    }

    .verificationbuy>.formpay>ul>li {
        width: 45%;
        flex-grow: 0;
    }
}

@media (max-width: 600px) {
    .verificationbuy>.productsOfbuy>div>ul>.card-product:not(.cardRepeatHider) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .verificationbuy>.productsOfbuy>div>ul>.card-product>h3,
    .verificationbuy>.productsOfbuy>div>ul>.card-product>h3::after {
        display: none;
    }

    .verificationbuy>.confirmbuy>p {
        font-size: 1.2rem;
    }

    .verificationbuy>.confirmbuy>p>span>strong>svg {
        font-size: 1rem;
        margin-right: 2px;
    }

    .verificationbuy>.confirmbuy>button {
        width: 200px;
        height: 40px;
        font-size: 1em;
    }

}

@media (max-width: 500px) {
    .verificationbuy>.confirmbuy {
        flex-direction: column;
        align-items: start;
        row-gap: 25px;
    }

    .verificationbuy>.confirmbuy>button {
        width: 100%;
        height: 50px;
        font-size: 1.1em;
    }

    .verificationbuy>.userDatas>ul>li {
        font-size: 1rem;
    }
}