.product_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: var(--card-h);
  width: var(--card-w);
  padding: 1rem;
  position: relative;
  margin: auto;
  background-color: var(--zinc-50);
  border: 1px solid var(--zinc-100);
  border-radius: 8px;

  img {
    max-height: var(--max-img-h);
    width: auto;
    height: 100%;
    object-fit: contain;
    position: relative;
  }

  .card_content {
    display: flex;
    flex-direction: column;
    width: 100%;

    h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 600;
      font-size: 0.875rem;
    }
  }
}

@media (width < 549px) {
  .product_card {
    width: 100%;
    padding-inline: 0.5rem;
    gap: 0.5rem;
  }
}
