.productEnvoy {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 25px;
    padding: 0 25px;
}

.productEnvoy>h2 {
    font-size: 1.5rem;
    color: rgb(0, 176, 199);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.33);
    margin: 50px 0 25px;
}

.productEnvoy>h2>svg {
    font-size: 2rem;
    margin-bottom: -7px;
    color: rgb(0, 176, 199);
}

.productEnvoy>div{
    position: relative;
    height: 50px;
    overflow: hidden;
}

.productEnvoy>div:is(.heightContainerOne) {
    height: 160px;
}

.productEnvoy>div:is(.heightContainerTwo) {
    height: 320px;
}

.productEnvoy>div>ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    width: 100%;
    transition: all .3s ease-in-out; 
}

.productEnvoy>div>ul>.card-product{
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 135px 100%;
    grid-template-rows: repeat(3, 40px);
    column-gap: 25px;
    z-index: 1;
}

.productEnvoy>div>ul:is(.emptyEnvoy) { display: none; }

.productEnvoy>div>ul>.card-product:is(.cardRepeatHider) { display: none; }

.productEnvoy>div>ul>.card-product>span{
    left: 135px;
    top: 20px;
    transform: translate(50%,-50%);
    font-size: 1em;
    grid-row: 2;
    border-radius: 0%;
    width: max-content;
}

.productEnvoy>div>ul>.card-product>span::before{
    content: 'PcD: ';
    color: black;
    grid-column: 2;
}

.productEnvoy>div>ul>.card-product>h3 {
    position: relative;
    text-align: justify;
    grid-column: 2;
    grid-row: 1;
}

.productEnvoy>div>ul>.card-product>h3::after {
    content: 'Tempo estimado de Entrega: 15d';
    width: 300px;
    position: absolute;
    left: 0;
    top: 80px;
}

.productEnvoy>div>ul>.card-product>img {
   max-height: 100px;
   object-fit: contain;
   max-width: 100px;
   grid-column: 1;
   grid-row: 1/4;
}

.productEnvoy>div>ul>.card-product>p {
    display: none;
}

.productEnvoy>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: rgb(106, 106, 106);
}

.productEnvoy>div>ul>.card-product>div {
    display: none;
}