.checkout_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.icon_close_container {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 10;

  & svg {
    font-size: 2rem;
    color: var(--zinc-600);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  &:hover svg {
    transform: scale(1.01);
  }
}

.checkout_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 6.25rem auto;
  gap: 2rem;
}

.info_user {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 1;
  grid-row: 1;
  height: min-content;

  .info_user_items {
    font-size: 1rem;
    font-weight: 400;
    color: var(--zinc-950);
    display: flex;
    gap: 0.5rem;

    strong {
      text-transform: capitalize;
    }
  }
}

@media (width < 1024px) {
  .checkout_content {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 6.25rem repeat(2, auto);
  }
}
