label {
    color: rgb(0, 173, 196);
    font-weight: bold;
    font-size: 1.1rem;
    z-index: 10;
    margin-left: 5px;
    width: max-content;
}

label>svg {
    font-size: 2rem;
    margin-bottom: -10px;
    margin-right: 2px;
}