@keyframes update-navbar {
    0% {
        filter: blur(20px);
    }

    99% {
        filter: blur(20px);
    }

}

.navbar {
    display: flex;
}

.navbar>ul {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar>ul:is(.animation-navbar-register) {
    animation: update-navbar 1.3s;
}

.navbar>ul>li>a {
    font-size: 1.1em;
    color: rgb(0, 176, 199);
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.navbar>ul>li>a>span:is(.producCarCount) {
    position: absolute;
    left: 13px;
    top: -2px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    z-index: 0;
}

.navbar>ul>li>a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0%;
    width: 0%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.792);
    transition: .4s ease-in-out;
}

.navbar>ul>li.currentBar>a::before,
.navbar>ul>li:hover>a::before {
    width: 100%;
}

.navbar>ul>li>a>svg {
    font-size: 1.2em;
    color: rgb(129, 255, 255);
    z-index: 1;
}