.product_container {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 3;
}

.icon_close_container {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 10;

  & svg {
    font-size: 2rem;
    color: var(--zinc-600);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  &:hover svg {
    transform: scale(1.01);
  }
}

.product_content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 44% auto;
  grid-template-rows: repeat(2, fit-content);
  align-items: center;
  column-gap: 4rem;
  position: relative;

  &::before,
  &::after {
    display: none;
  }

  h3 {
    grid-column: 2;
    font-size: 2rem;
    grid-row: 1;
    align-self: start;
    color: black;
  }
}

.product_previews_container {
  width: 100%;
  position: relative;
  grid-row: 2;
}

.product_info_container {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product_descriptions_container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  grid-row: 2;
  row-gap: 0.5rem;
}

@media (width < 1124px) {
  .product_content {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 1rem;
  }

  .product_info_container {
    align-self: flex-start;
    grid-column: 1/3;
    width: 100%;
  }
}

@media (width < 769px) {
  .product_container {
    margin-inline: auto;

    .product_content {
      padding-top: 2rem;
      width: 100%;
    }
  }
}
