.error_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--zinc-600);
  height: calc(100dvh - 12rem);
}

.error_container div {
  text-align: center;
}

.error_container h1 {
  font-size: 2rem;
}

.error_container button {
  padding: 0.8rem 2.5rem;
  background: var(--primary-color);
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.4s;

  &:hover {
    background: var(--primary-color-hover);
  }
}
