.error_container {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: var(--zinc-600);
    height: 100vh;
}

.error_container div {
    text-align: center;
}

.error_container h1 {
    font-size: 2rem;
}

.error_container button {
    padding: 0.8rem 2.5rem;
    background: var(--primary-color);
    border-radius: 0.5rem;
    text-transform: uppercase;
    color: white;
    font-weight: bold;

    cursor: pointer;
    transition: background .4s;
}

.error_container button:hover {
    background: var(--primary-color-hover);
}