@import url('./reset.css');
@import url('./variables.css');
@import url('./util.css');

@keyframes loading-page {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes buy-product {
  0% {
    top: -100px;
    transform: translateX(-50%) rotate(-4deg);
  }

  30% {
    transform: translateX(-50% rotate(0deg));
    top: 19px;
  }

  50% {
    transform: translateX(-50%) rotate(8deg);
  }

  80% {
    transform: translateX(-50%) rotate(0deg);
  }

  95% {
    transform: translateX(-50%) rotate(-2deg);
  }

  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}

body {
  background-color: var(--zinc-100);
  font-family: 'Roboto', sans-serif;
}

.react-multiple-carousel__arrow {
  min-width: 32px;
  min-height: 32px;

  &::before {
    font-size: 12px !important;
  }
}

.main {
  min-height: calc(100dvh - 8rem);
  height: fit-content;
  position: relative;
  animation: loading-page 0.7s ease-out;
  max-width: 1324px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem 1rem;
}

@media (width < 768px) {
  html,
  body {
    font-size: 87.5%;
  }
}
