.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .title_content {
    padding-left: 1rem;
    border-left: 4px solid var(--primary-color);
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 800;
    text-transform: capitalize;
  }
}
