.user_profiler_container {
  margin-inline: auto;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user_info {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.picture_container {
  position: relative;
}

.info_items {
  font-size: 1rem;
  text-align: center;

  strong {
    font-weight: 700;
  }
}

.favorite_envoy_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.favorite_envoy_header {
  display: flex;
  background-color: var(--zinc-300);
  width: fit-content;
  padding-block: 0.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  button[type='button'] {
    padding-inline: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--zinc-950);
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;

    &:first-of-type {
      border-right: 1px solid var(--zinc-400);
    }

    &:disabled {
      color: var(--zinc-400);
    }
  }
}

.favorite_envoy_main {
  width: 100%;
  border-top: 2px solid var(--zinc-300);
  padding-top: 1rem;
}

@media (max-width: 1024px) {
  .profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .profile_container {
    gap: 0;
  }
}
