.user_profiler_container {
  margin-inline: auto;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user_info {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 1rem;
}

.picture_container {
  position: relative;
}

.info_items {
  font-size: 1rem;
  text-align: center;

  strong {
    font-weight: 700;
  }
}

@media (max-width: 1024px) {
  .profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
