.btnSubmit {
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: capitalize;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.578);
    background: linear-gradient(90deg, rgb(1, 104, 1), rgb(0, 184, 0));
    cursor: pointer;
} 

.btnSubmit:hover {
    background: linear-gradient(90deg, rgb(0, 184, 0), rgb(1, 104, 1));
}