.product_info_container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  grid-row: 2;
  row-gap: 0.5rem;
}

.product_info__items {
  font-size: 1rem;
  color: var(--zinc-950);

  strong {
    font-size: 1.1rem;
    text-transform: capitalize;
  }
}

@media (max-width: 1124px) {
  .product_info_container {
    align-self: flex-start;
  }
}

@media (max-width: 780px) {
  .product_info__items li {
    font-size: 0.9rem;

    strong {
      font-size: 1rem;
    }
  }
}
