.products_cards_sections {
  --card-m-top: 0.5rem;
  --card-p: 0.5rem;
  --card-h: 8.5rem;

  grid-column: 2;
  grid-row: 1/3;
  width: 100%;

  div.products_cards_container {
    position: relative;
    height: calc((var(--card-h) + var(--card-m-top)) * 4);
    margin-top: 1rem;
  }
}

.cards_controls_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;

  button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    transition: all 0.5s;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 32px;
    min-height: 32px;
    opacity: 1;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }

    &:disabled {
      cursor: default;
      opacity: 0;
      z-index: -10;
    }

    &:first-of-type {
      top: calc(2% + 1px);
    }

    &:last-of-type {
      bottom: calc(1% + 1px);
    }

    svg {
      font-size: 12px;
      color: #fff;
      z-index: 2;
      position: relative;
    }
  }
}

div.products_cards_items {
  display: grid;
  grid-template-columns: calc(var(--card-h) - (var(--card-p) * 2)) calc(100% - var(--card-h));
  background-color: var(--zinc-50);
  border: 1px solid var(--zinc-100);
  border-radius: 8px;
  margin-top: var(--card-m-top);
  padding: var(--card-p);
  align-items: center;
  position: relative;
  height: var(--card-h) !important;
  width: 100% !important;
  gap: 1rem;

  .cards_quantity {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--zinc-950);
    position: absolute;
    top: 1rem;
    right: var(--card-p);
  }

  .cards_info {
    grid-column: 2;
    font-size: 0.875rem;
    width: 100%;

    span {
      font-size: 1.125rem;
      font-weight: 600;
    }

    h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 600;
      font-size: 0.875rem;
    }
  }

  img {
    object-fit: contain;
    max-height: calc(var(--card-h) - (var(--card-p) * 2));
    max-width: 100%;
    height: 100%;
    width: auto;
    grid-column: 1;
  }
}

@media (width < 1024px) {
  .products_cards_sections {
    --card-h: 7.5rem;

    grid-column: 1;
    grid-row: 2;

    div.products_cards_container {
      height: calc((var(--card-h) + var(--card-m-top)) * 3);

      &[data-product-quantity='2'] {
        height: calc((var(--card-h) + var(--card-m-top)) * 2);
      }

      &[data-product-quantity='1'] {
        height: calc((var(--card-h) + var(--card-m-top)) * 1);
      }
    }
  }
}
