.alert_content {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem 1rem;
  background-color: var(--zinc-100);
  border: 1px solid var(--zinc-300);
  border-radius: 8px;
  color: var(--zinc-950);
  height: fit-content;
  max-width: 34rem;
  width: 100%;
}

.alert_close_icon {
  height: 1.6rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  & svg {
    font-size: 1.6rem;
  }
}

.alert_message {
  text-align: center;
}

.buttons_options_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
