.settings_container {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
  background-color: var(--zinc-50);
  padding: 2px;
  border-radius: 50%;
  position: absolute;
  right: 0.25rem;
  top: 0.5rem;
  z-index: 10;
}

.settings_content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background-color: var(--zinc-100);
  border: 1px solid var(--zinc-300);
  border-radius: 8px;
  color: var(--zinc-950);
  font-weight: 700;
  position: absolute;
  width: max-content;
}

.icon {
  font-size: 1.5rem;
  color: var(--zinc-950);
}

.settings_item {
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border-bottom: 1px solid var(--zinc-300);
  color: var(--zinc-950);

  & > button {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
    background-color: transparent;
    color: var(--zinc-950);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: var(--zinc-300);
    }

    & > svg {
      font-size: 1.5rem;
    }
  }

  &:last-of-type {
    border-bottom-color: transparent;
  }
}
