.favorite_envoy_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.favorite_envoy_header {
  display: flex;
  background-color: var(--zinc-300);
  width: fit-content;
  padding-block: 0.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  button[type='button'] {
    padding-inline: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--zinc-950);
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;

    &:first-of-type {
      border-right: 1px solid var(--zinc-400);
    }

    &:disabled {
      color: var(--zinc-400);
    }
  }
}

.favorite_envoy_main {
  width: 100%;
  border-top: 2px solid var(--zinc-300);
  padding-top: 1rem;
}

.favorite_envoy_main_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
