div[data-content-dropdown='navbarMenu'],
div[data-content-dropdown='userWithoutAccount'] {
  top: 4rem !important;
  left: auto !important;
  right: 1rem !important;
}

.navbar_mobile_container .navbar_list_container {
  display: none;
}

.navbar_desktop_container {
  display: flex;
}

.navbar_list_container {
  width: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links_items {
  &.current_bar a::before {
    width: 100%;
  }

  & a {
    font-size: 1rem;
    color: var(--zinc-100);
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.3125rem;

    &::before {
      content: '';
      position: absolute;
      bottom: -1.6rem;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 0.25rem;
      background-color: var(--primary-color);
      transition: 550ms all;
    }

    &[data-is-current]::before {
      width: 100%;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  & svg {
    font-size: 1.2rem;
    z-index: 1;
  }
}

.navbar_user_dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  & .menu_toggle_icon {
    background-color: transparent;
    font-size: 1rem;
    color: var(--zinc-100);
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: 0.3125rem;
    position: relative;
    gap: 8px;

    &::before {
      content: '';
      position: absolute;
      bottom: -1.6rem;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 0.25rem;
      background-color: var(--primary-color);
      transition: 550ms all;
    }

    &[data-is-current]::before {
      width: 100%;
    }

    &:not([data-is-current]):hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &[data-open='true'] .menu_toggle_icon svg:last-of-type {
    transform: rotate(180deg);
  }
}

.links_content_dropdown {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  background-color: var(--zinc-100);
  border: 1px solid var(--zinc-300);
  border-radius: 8px;
  color: var(--zinc-950);
  width: fit-content;
  font-weight: 700;

  & .links_items {
    border-bottom: 1px solid var(--zinc-300);

    &:last-of-type {
      border-bottom-color: transparent;
    }

    &.current_bar a {
      color: var(--zinc-300);
    }

    & > a {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      color: var(--zinc-950);

      &::before {
        display: none;
      }

      &:hover {
        color: var(--zinc-300);
        opacity: 0.7;
      }
    }
  }
}

@media (width < 769px) {
  .navbar_desktop_container .navbar_list_container {
    display: none;
  }

  .navbar_mobile_container {
    display: flex;
    flex-direction: column;
  }

  .navbar_list_container {
    border-radius: 8px;
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    background-color: var(--zinc-100);
    border: 1px solid var(--zinc-300);
    padding: 0 1rem;
  }

  .navbar_menu_icon {
    display: flex;
    color: var(--primary-color);
    width: 2rem;
    height: 2rem;
  }

  .links_items {
    border-bottom: 1px solid var(--zinc-300);

    &:last-of-type {
      border-bottom-color: transparent;
    }

    & a {
      padding: 1.125rem 0;
      display: flex;
      text-wrap: nowrap;
      color: var(--zinc-950);
      align-items: center;

      &::before {
        display: none;
      }
    }

    &.current_bar a {
      color: var(--zinc-300);
    }

    &:hover a {
      opacity: 0.7;
    }

    & span:is(.product_car_point) {
      display: none;
    }
  }
}
