div[data-content-dropdown='categoryFilters'] {
  left: auto !important;
  right: 0 !important;
}

.filters_content_mobile {
  display: none;
}

.filters_content_desktop {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (width < 549px) {
  .filters_content_desktop {
    display: none;
  }

  .category_container_mobile {
    position: relative;
    z-index: 50;
  }

  .icon {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
      transform: scale(110%);
    }
  }

  .filters_content_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--zinc-100);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--zinc-300);
    width: min-content;
  }
}

@media (max-width: 500px) {
  .filters_content_mobile {
    font-size: 0.9rem;
  }
}
