.cart_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  width: 100%;
  height: max-content;
}

.cart_product_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  padding-top: 2.5rem;
}

@media (width < 1024px) {
  .cart_product_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 669px) {
  .cart_product_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
