.cart_container {
  --card-h: 17.6875rem;
  --card-w: 15.5rem;
  --max-img-h: calc(var(--card-h) * 50 / 100);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  width: 100%;
  height: max-content;
}

.cart_product_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-w));
  place-items: center;
  max-width: 100%;
  width: max-content;
  margin-inline: auto;
  gap: 1rem;
  padding-top: 2.5rem;
}

@media (width < 549px) {
  .cart_container {
    --card-h: 14.25rem;
    --card-w: minmax(11rem, 15.5rem);
    --max-img-h: calc(var(--card-h) * 45 / 100);

    gap: 0.5rem;
  }

  .cart_product_container {
    grid-template-columns: repeat(2, var(--card-w));
  }
}
