.less_product_controls_container {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  animation: loading-card-Product 1s ease-in-out;
  height: auto;
  width: 100%;
}

.btn_less_product {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--zinc-100);
  background: linear-gradient(90deg, red, var(--wrong-color));
  transition: 0.8s ease-in-out;

  &:hover {
    background: linear-gradient(90deg, var(--wrong-color), red);
  }

  svg {
    font-size: 1.2rem;
  }
}

.control_count {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: var(--zinc-950);
  background: var(--zinc-100);
  border-radius: 4px;

  span {
    font-size: 1rem;
  }

  button {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;

    &:hover svg {
      transform: scale(1.1);
    }

    svg {
      font-size: 1rem;
      color: var(--primary-color);
      transition: all 0.4s ease-in-out;
    }
  }
}

@media (width < 549px) {
  .less_product_controls_container {
    column-gap: 1rem;
  }
}
