.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: var(--zinc-950);
  padding: 1rem 2rem;
}

.footer_container p {
  color: gray;
  font-size: 0.875rem;
}

@media (max-width: 624px) {
  .footer_container {
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
  }

  .footer_container p {
  }
}
