.cart_product_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--zinc-50);
  border: 1px solid var(--zinc-100);
  border-radius: 8px;
  gap: 1rem;
  height: var(--card-h);
  width: var(--card-w);
  padding: 1rem;
  position: relative;
  margin: auto;

  .card_quantity {
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--zinc-950);
    background-color: var(--zinc-50);
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 5;
  }

  img {
    max-height: var(--max-img-h);
    width: auto;
    height: 100%;
    object-fit: contain;
    position: relative;
  }

  .card_content {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    width: 100%;

    h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 600;
      font-size: 0.875rem;
    }
  }
}

@media (width < 549px) {
  .cart_product_card {
    padding-inline: 0.5rem;
    gap: 0.5rem;
  }
}
