@keyframes loading-circle {
  0% {
    border: 4px solid;
    border-color: black;
  }

  25% {
    border-top-color: white;
  }

  50% {
    border-right-color: white;
  }

  75% {
    border-bottom-color: white;
  }

  99% {
    border-color: black;
    border-left-color: white;
  }

  100% {
    border: none;
  }
}

.pictures_container {
  grid-column: 1;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30rem 7rem;
  place-items: center;
  width: 100%;
}

.image_main {
  width: 100%;
  height: 100%;
  aspect-radius: 1/1;
  object-fit: contain;
  position: relative;
}

.pictures_previews_list {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:is(.animation-switch-img)::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 13.125rem;
    transform: translateY(-50%);
    animation: loading-circle 1s ease-in-out;
    border-radius: 50%;
    padding: 1.25rem;
  }
}

.pictures_previews_items {
  width: 33%;
  height: 100%;
  aspect-radius: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 1rem;

  &:nth-child(2)::after,
  &:nth-child(2)::before {
    content: '';
    height: 40%;
    width: 1px;
    background-color: var(--zinc-400);
    position: absolute;
    z-index: 50;
  }

  &:nth-child(2)::before {
    left: 0;
  }

  &:nth-child(2)::after {
    right: 0;
  }

  &:is(.current_slide) img {
    opacity: 0.5;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
    transition: all 0.7s ease-in-out;
  }
}

@media (max-width: 1124px) {
  .pictures_container {
    grid-template-columns: 10rem auto;
    grid-template-rows: 30rem;
  }

  .image_main {
    grid-column: 2;
    align-self: center;
    padding: 2rem;
  }

  .pictures_previews_list {
    grid-column: 1;
    grid-row: 1/3;
    flex-direction: column;
    width: 100%;

    &:is(.animation-switch-img)::before {
      content: '';
      position: absolute;
      top: 21.875rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .pictures_previews_items {
    width: 100%;
    height: 33%;

    &:nth-child(2)::after,
    &:nth-child(2)::before {
      width: 50%;
      height: 1px;
    }

    &:nth-child(2)::before {
      left: auto;
      top: 0;
    }

    &:nth-child(2)::after {
      right: auto;
      bottom: 0;
    }
  }
}

@media (max-width: 769px) {
  .pictures_container {
    grid-template-columns: 100%;
    grid-template-rows: 24rem auto;
  }

  .image_main {
    grid-column: 1;
    padding: 0;
  }

  .pictures_previews_list {
    flex-direction: row;
    grid-row: 2;
  }

  .pictures_previews_items {
    width: 33%;
    height: 100%;

    &:nth-child(2)::after,
    &:nth-child(2)::before {
      width: 1px;
      height: 40%;
    }

    &:nth-child(2)::before {
      top: auto;
      left: 0;
    }

    &:nth-child(2)::after {
      bottom: auto;
      right: 0;
    }
  }
}
