input {
    font-size: 1rem;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 10px;
    border-radius: 5px;
}


input::placeholder {
    font-size: 1rem;
    color: rgb(184, 184, 184);
}

input:focus {
    border: 1px solid #003;
}

@media (max-width: 500px) {
    input {
        font-size: .8rem;
    }

    input::placeholder {
        font-size: .8rem;
    }
}