.label_container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.label_container label {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.1rem;
    z-index: 10;
    margin-left: 0.3125rem;
    width: max-content;
}

.label_container span {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--wrong-color);
}

.label_container svg {
    font-size: 2rem;
    margin-bottom: -0.625rem;
    margin-right: 0.125rem;
}