.register_container {
  padding-bottom: 3.125rem;
}

.form_container {
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
  margin: 0 auto;
  padding-top: 3.75rem;
  row-gap: 1.5rem;
}

.contract_options_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;

  div {
    display: flex;
    gap: 0.5rem;

    label {
      font-size: 0.875rem;
      font-weight: 500;

      a {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
  }
}
