@media (max-width: 1330px) {
    .home {
        grid-template-columns: 350px repeat(2, max-content);
    }
}

@media (max-width: 1024px) {
    .home {
        width: 100%;
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}


@media (max-width: 500px) {
    .home>.card-product {
        width: 375px;
        height: 450px;
    }

    .categoryProducts {
        font-size: .9rem;
    }
}