.img_container {
  width: 9rem;
  height: 9rem;
  outline: 2px solid var(--zinc-400);
  border-radius: 50%;
  outline-offset: 2px;
}

.profile_img {
  background-color: var(--zinc-100);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
