.form_field_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  padding-inline: 1rem;
  outline: 1px solid var(--zinc-400);
  background-color: transparent;
  max-width: 37.5rem;
  position: relative;

  &:has(input:read-write):focus-within {
    outline-color: var(--primary-color);

    svg {
      color: var(--primary-color);
    }
  }

  &[data-error] {
    outline-color: var(--wrong-color);

    &::before {
      content: attr(data-error);
      font-size: 0.75rem;
      color: var(--wrong-color);
      position: absolute;
      top: -1rem;
      right: 0;
      z-index: 50;
    }

    svg {
      color: var(--wrong-color);
    }
  }

  input {
    padding-block: 0.875rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    border-radius-top-left: 14px;
    border-radius-bottom-left: 14px;
    outline: none;
    border: none;
    box-shadow: none;
    width: 100%;

    &:placeholder {
      color: var(--zinc-400);
    }

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
    color: var(--zinc-400);
  }
}

.form_field_container.user_avatar {
  justify-content: center;
  border-radius: 50%;
  max-width: auto;
  width: 9rem;
  height: 9rem;
  position: relative;
  margin-inline: auto;

  &[data-error] {
    outline-color: transparent;

    &::before {
      content: attr(data-error);
      font-size: 1.2rem;
      background-color: var(--zinc-950);
      color: var(--wrong-color);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
    }
  }

  input {
    display: none;
  }

  & > svg {
    position: absolute;
    right: -0.2rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    color: var(--zinc-950);
    background-color: var(--zinc-100);
    border-radius: 50%;
    padding: 2px;
  }
}
