.envoy_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.envoy_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  width: 100%;
  gap: 1rem;
}

.cards_item {
  display: flex;
  flex-direction: column;
  background-color: var(--zinc-50);
  width: 14.5rem;
  height: 16.5rem;
  row-gap: 0.5rem;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;

  img {
    max-width: 7.625rem;
    max-height: 7.625rem;
    width: auto;
    height: 100%;
    object-fit: contain;
    margin-inline: auto;
    position: relative;

    &::before {
      content: '';
      width: 7.625rem;
      height: 7.625rem;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }

  h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .delivery_info {
    color: var(--primary-color);
    font-weight: bold;
  }
}

@media (width < 1024px) {
  .envoy_cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 669px) {
  .envoy_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 549px) {
  .cards_item {
    width: 10.5rem;
    height: 12.5rem;
    padding: 1rem 0.5rem;
    padding-top: 2rem;

    img {
      max-width: 5.625rem;
      max-height: 5.625rem;

      &::before {
        width: 5.625rem;
        height: 5.625rem;
      }
    }
  }
}
