@media (max-width: 1024px) {
    .favorite>h2 {
        margin-bottom: 40px;
    }
}

@media (max-width: 750px) {
    .favorite>h2 {
        font-size: 1.2rem;
    }

    .favorite>ul>.card-product {
        width: 200px;
        height: 230px;
    }

    .favorite>ul>.card-product>h3 {
        font-size: .9rem;
    }

    .favorite>p {
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
    }
    
}

@media (max-width: 500px) {
    .favorite>p {
        font-size: 1rem;
    }

}