.form_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 1;
  grid-row: 2;
}

.description_container {
  display: flex;
  flex-direction: column;

  span {
    font-weight: 400;
    color: var(--zinc-950);
  }
}

.options_container {
  display: grid;
  grid-template-columns: repeat(2, 9.875rem);
  grid-template-rows: repeat(2, 6.75rem);
  gap: 1rem;
}

.options_items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.75rem;
  width: 9.875rem;
  background-color: var(--zinc-300);
  border-radius: 8px;
  position: relative;
  font-size: 1rem;
  font-weight: 800;
  box-shadow: 0 2px 4px var(--shadow-color);
  transition: all 550ms;

  &:hover {
    border-color: var(--primary-color);
  }

  &:has(input[type='radio']:checked) {
    background-color: var(--primary-color);
    color: var(--zinc-100);
    box-shadow: none;
  }

  input[type='radio'] {
    all: unset;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }
}

.info_prices_container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.info_prices_items {
  color: var(--zinc-950);
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  strong {
    text-transform: capitalize;
  }
}

@media (width < 1024px) {
  .form_container {
    grid-row: 3;
  }
}

@media (width < 1024px) and (width > 649px) {
  .options_container {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
  }

  .info_prices_container {
    flex-direction: row;
    column-gap: 1rem;
    flex-wrap: wrap;
  }
}
