@keyframes loading-card-Product {
  0% {
    z-index: -1;
  }

  100% {
    z-index: 0;
  }
}

.buy_controls_container {
  display: flex;
  justify-content: space-between;
  height: 3.125rem;
  width: 100%;
  grid-column: 2;
  grid-row: 4;
  animation: loading-card-Product 1s ease-in-out;
}

.control_count {
  width: 12.5rem;
  height: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--zinc-300);
  border-radius: 6px;

  span {
    font-weight: bolder;
    font-size: 1.5rem;
  }

  button {
    background-color: transparent;
    cursor: pointer;

    &:hover svg {
      transform: scale(1.1);
    }

    svg {
      font-size: 1.5rem;
      margin-bottom: -3px;
      color: var(--primary-color);
      transition: all 0.4s ease-in-out;
    }
  }
}

@media (max-width: 780px) {
  .btn_buy_product {
    width: 10rem;
  }

  .control_count {
    width: 10rem;
  }
}

@media (max-width: 500px) {
  .control_count {
    margin-right: 0px;
  }
}
